# Taller de Programación con Python

## Introducción a Python

### GitHub repository: https://github.com/jorgemauricio/curso_itesm

### Instructor: Jorge Mauricio

Este notebook de jupyter te permite comprender los principios básicos de la sintáxis que utiliza `python` 

**Por el momento el código no contiene ningún tipo de explicación**

### Temas que se incluyen
* Indentación
* Comentarios
* Tipos de datos
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Operadores comparativos
* if,elif, else
* for 
* while 
* range()
* list 
* Funciones
* lambda 
* map and filter
* métodos
* I/O

## Indentación

# Código C
``` C
int numeroMayor (int x, int y)
{
    if (x == y)
    {
        printf(“Los dos valores son iguales”);
    }else if (x > y)
    {
        printf(“El primer valor es mayor”);
    }else (x > y)
    {
        printf(“El primer valor es mayor”);
    }
}```

# Código Python

In [1]:
def numeroMayor(x,y):
    if x == y:
        print("Los dos valores son iguales")
    elif x > y:
        print("El primer valor es mayor")
    else:
        print("El segundo valor es mayor")

## Comentarios

In [20]:
# comentario en línea
x = 5 # asignar valor de 5 a x

In [21]:
"""

Comentario Multilínea

"""

'\n\nComentario Multilínea\n\n'

## Tipos de datos

### Numbers

In [22]:
1 + 1

2

In [23]:
1 * 3

3

In [24]:
1 / 2

0.5

In [25]:
2 ** 4

16

In [26]:
4 % 2

0

In [27]:
5 % 2

1

In [28]:
(2 + 3) * (5 + 5)

50

### Asignar variables

In [29]:
# No pueden comenzar con número o un carácter especial
name_of_var = 2

In [30]:
x = 2
y = 3

In [31]:
z = x + y

In [32]:
z

5

### Strings

In [33]:
'single quotes'

'single quotes'

In [34]:
"double quotes"

'double quotes'

In [35]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Print

In [36]:
x = 'hola'

In [37]:
x

'hola'

In [38]:
print(x)

hola

In [39]:
numero = 15
nombre = 'Jorge'

In [40]:
print('Mi número es: {one} y mi nombre es: {two}'.format(one=numero,two=nombre))

Mi número es: 15 y mi nombre es: Jorge

In [41]:
print('Mi número es: {} y mi nombre es: {}'.format(numero,nombre))

Mi número es: 15 y mi nombre es: Jorge

### Lists

In [42]:
[1,2,3]

[1, 2, 3]

In [43]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [44]:
my_list = ['a','b','c']

In [45]:
my_list.append('d')

In [46]:
my_list

['a', 'b', 'c', 'd']

In [47]:
my_list[0]

'a'

In [48]:
my_list[1]

'b'

In [49]:
my_list[1:]

['b', 'c', 'd']

In [50]:
my_list[:1]

['a']

In [51]:
my_list[0] = 'NEW'

In [52]:
my_list

['NEW', 'b', 'c', 'd']

In [53]:
nest = [1,2,3,[4,5,['target']]]

In [54]:
nest[3]

[4, 5, ['target']]

In [55]:
nest[3][2]

['target']

In [56]:
nest[3][2][0]

'target'

### Dictionaries

In [57]:
d = {'key1':'item1','key2':'item2'}

In [58]:
d

{'key1': 'item1', 'key2': 'item2'}

In [59]:
d['key1']

'item1'

### Booleans

In [60]:
True

True

In [61]:
False

False

### Tuples

In [62]:
t = (1,2,3)

In [63]:
t[0]

1

In [64]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [65]:
{1,2,3}

{1, 2, 3}

In [66]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [67]:
1 > 2

False

In [68]:
1 < 2

True

In [69]:
1 >= 1

True

In [70]:
1 <= 4

True

In [71]:
1 == 1

True

In [72]:
'hi' == 'bye'

False

## Operadores lógicos

In [73]:
(1 > 2) and (2 < 3)

False

In [74]:
(1 > 2) or (2 < 3)

True

In [75]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if, elif, else

In [76]:
if 1 < 2:
    print('Yep!')

Yep!

In [77]:
if 1 < 2:
    print('yep!')

yep!

In [78]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [79]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [80]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for

In [81]:
seq = [1,2,3,4,5]

In [82]:
for item in seq:
    print(item)

1
2
3
4
5

In [83]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [84]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while

In [85]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [86]:
range(5)

range(0, 5)

In [87]:
for i in range(5):
    print(i)

0
1
2
3
4

In [88]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [89]:
x = [1,2,3,4]

In [90]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [91]:
[item**2 for item in x]

[1, 4, 9, 16]

## Funciones

In [92]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [93]:
my_func

In [94]:
my_func()

default

In [95]:
my_func('new param')

new param

In [96]:
my_func(param1='new param')

new param

In [97]:
def square(x):
    return x**2

In [98]:
out = square(2)

In [99]:
print(out)

4

## lambda

In [100]:
def times2(var):
    return var*2

In [101]:
times2(2)

4

In [102]:
lambda var: var*2

## map and filter

In [103]:
seq = [1,2,3,4,5]

In [104]:
map(times2,seq)

In [105]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [106]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [107]:
filter(lambda item: item%2 == 0,seq)

In [108]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [109]:
st = 'Hola mi nombre es Jorge Mauricio'

In [110]:
# convertir string a minúsculas
st.lower()

'hola mi nombre es jorge mauricio'

In [111]:
# convertir string a mayúsculas
st.upper()

'HOLA MI NOMBRE ES JORGE MAURICIO'

In [112]:
# separar string en una lista
st.split()

['Hola', 'mi', 'nombre', 'es', 'Jorge', 'Mauricio']

In [113]:
tweet = 'Go Sports! #Sports'

In [114]:
# separar el string
tweet.split('#')

['Go Sports! ', 'Sports']

In [115]:
# acceder a la palabra Sports
tweet.split('#')[1]

'Sports'

In [116]:
# diccionario
d

{'key1': 'item1', 'key2': 'item2'}

In [117]:
# desplegar las keys de un diccionario
d.keys()

dict_keys(['key1', 'key2'])

In [118]:
# desplegar las keys y valroes de un diccionario
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [119]:
lst = [1,2,3,4,5]

In [120]:
# eliminar el último valor de una lista
lst.pop()

5

In [121]:
lst

[1, 2, 3, 4]

In [122]:
# validar si un elemento se encuentra en una lista
'x' in [1,2,3]

False

In [123]:
'x' in ['x','y','z']

True

## I/O

In [125]:
# para solicitar alguna información al usuario se puede utilizar la función input, 
# la cual da la posibilidad de ingresar algún parámetro en la consola de comandos.
# NOTA: el parámetro es considerado como string
edad_usuario = input("Cuál es tu edad? ")
print("La edad del usuario es: {}".format(edad_usuario))

Cuál es tu edad? 33
La edad del usuario es: 33

In [126]:
nombre, edad = input("Nombre y edad (Separado por un espacio): ").split()
print("El usuario  {} tiene {} años".format(nombre, edad))

Nombre y edad (Separado por un espacio): Jorge 33
El usuario  Jorge tiene 33 años

In [127]:
# variable que contiene el texto
frase = "Hola ITESM"

# debemos de declarar una variable que nos va a permitir la manipulación del archivo a editar
# el archivo tiene varios estados de manipulación, táles como:
# r : reading
# w : writing, truncating the file first
# a : write to the end of the file if it exists

text_file = open("texto.txt", "a")

In [128]:
# escribir archivos txt
text_file.write(frase)
text_file.close()